{% extends 'veille/base.html' %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Titre de la page -->
    <h1 class="h3 mb-4 text-gray-800">Contact</h1>

    <!-- Carte avec infos de contact -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informations de contact</h6>
        </div>
        <div class="card-body">
            <p><strong>Nom :</strong> Marc LOSSON</p>
            <p><strong>Email :</strong> <a href="mailto:marclosson95@gmail.com">marclosson95@gmail.com</a></p>
        </div>
    </div>
</div>

{% endblock %}


