{% extends 'veille/base.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Titre de la page -->
    <h1 class="h3 mb-4 text-gray-800">Fonctionnalités en développement</h1>

    <!-- Carte avec image -->
    <div class="card shadow mb-4 text-center">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bientôt disponible !</h6>
        </div>
        <div class="card-body text-center">
            <i class="fas fa-tools fa-5x text-primary mb-4"></i>
            <p class="lead">
                Cette fonctionnalité est en cours de développement.<br>
                Revenez prochainement pour en profiter.
            </p>
        </div>

    </div>

</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


{% endblock %}


