asgiref==3.9.1
Django==5.2.4
django-cors-headers==4.7.0
gunicorn==23.0.0
whitenoise==6.9.0

meilisearch==0.36.0
python-dotenv==1.1.1
requests==2.32.4
beautifulsoup4==4.13.4
pdfminer.six==20250506
PyPDF2==3.0.1
PyMuPDF==1.26.3

pandas==2.3.1
numpy==2.3.1

psycopg2-binary==2.9.10
sqlparse==0.5.3

# Optionnel dev
rich==14.0.0
colorama==0.4.6
